body {
  background-color: #222;
}

.CTA {
  margin: 25px auto;
  text-transform: uppercase;
  font-family: sens-serif;
  font-size: 25px;
  text-align: center;
  color: orange;
  font-weight: 600;
}
