/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px) {
	.main-menu {
		margin-left: 60px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1360px) {
	.main-menu {
		margin-left: 30px;
	}
	.main-menu a {
		font-size: 18px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {
	.main-menu {
		margin-left: 15px;
	}
	.main-menu a {
		font-size: 16px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.main-menu {
		display: none;
		min-width: 320px;
		text-align: right;
		background-color: #2f4158;
	}

	.main-menu ul li {
		display: block;
	}

	.main-menu ul {
		padding: 15px 0;
	}

	.main-menu li {
		padding-right: 15px;
		line-height: 20px;
	}

	.main-menu a {
		color: #ffffff;
		font-size: 16px;
	}

	.main-menu {
		margin-left: 0px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.organization-name, .top-line-addres, .top-line-phonefax, .top-line-email {
		display: none;
	}
	
	.organization-data {
		display: block;
	}

	.top-line-phone {
		position: relative;
		display: block;
		margin: 5px auto;
		font-size: 24px;
		width: 100%;
		text-align: center;
		color: #ffffff;
	}

	.top-menu {
		border-bottom: 0px solid #d6d6d6;
	}

	.main-menu li {
		margin: 0px 0px;
	}

	.main-menu a {
		padding: 20px 15px 20px 15px;
	}

	.mp-main-header-word span {
		font-size: 40px;
		font-weight: 700;
	}

	.main-page-header h1 {
		margin: 15px 0 50px 0;
		font-size: 22px;
		font-style: italic;
		text-shadow: 2px 2px 7px black;
	}

	.main-header h1 {
		color: #fff;
		text-align: center;
		margin: 50px 0 100px 0;
		font-size: 20px;
		font-style: italic;
		text-shadow: 2px 2px 7px black;
	}

	.main-header-words::first-line {
		font-size: 26px;
	}

	.product-card h1 {
		font-size: 26px;
		margin-top: 25px;
	}

	.catalog-menu-central h2 {
		margin-top: 50px;
		margin-bottom: 10px;
	}

	.footer-menu, .footer-moscow-diller, .footer-contacts {
		margin: 25px 15px 25px 15px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.toggle-menu {
		line-height: 20px;
		width: 20px;
		height: 20px;
	}

	.main-menu ul {
		display: block;
	}

	.main-menu li {
		padding: 0;
	}

	.main-menu a {
		display: block;
	}

	.active-page {
		color: #6db3ff;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.top-menu {
		display: block;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.main-nav {
		margin-left: 50px;
	}
	.main-nav li {
		font-size: 18px;
		margin: 8px 15px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1360px) {
	.main-nav li {
		font-size: 20px;
		margin: 8px 25px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1600px) {
	.main-nav {
		margin-left: 150px;
	}

	.main-nav li {
		font-size: 20px;
		margin: 8px 25px;
	}

}